{% extends "base.html"%}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Search results for: {% if terms %} {{terms}} {% else %} Nothing {% endif %}</h1>
        <hr>
        {% if user %}
        <h3>Users:</h3>
        <h4><a href="{{ url_for('user_page', uid=user.id) }}">{{ user.username }}</a></h4>
        {% endif %}
        {% if repositories %}
        <h3>Repositories:</h3>
        <h4>{{ repositories }}</h4>
        {% endif %}
        {% if not user and not repositories %}
        <h3 class="muted">None...</h3>
        {% endif %}
    </div>
</div>
{% endblock %}