{% extends "base.html"%}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ split.name }}</h1>
        <hr>
        <form action="{{ url_for('split_edit', sid=split.id) }}">
            <button class="btn btn-primary" type="submit">
                {% if split.user.id == g.user.id %}
                    Edit This
                {% elif g.user %}
                    Clone and Edit This
                {% else %}
                    <a href="{{url_for('login')}}">Log in to edit</a>
                {% endif %}
            </button>
        </form>
        <br>
        <form action="{{url_for('create_race')}}" method="POST">
            <input type="hidden" name="split" value="{{split.id}}">
            <button class="btn btn-primary" type="submit">
                Start a Race!
            </button>
        </form>
        <h4>Game: <a href="{{ url_for('game_page',gid=split.game.id) }}">{{ split.game.name }}</a></h4>
        <h4>By: <a href="{{ url_for('user_page',uid=split.user.id) }}">{{ split.user.username }}</a></h4>
        <br>
        <div class="container col-md-offset-1 col-md-10">
        {% if sdata %}
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Best Time</th>
                </tr>
                {% for sp in sdata %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{sp[0]}}</td>
                    <td>{{sp[1]}}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <h4>None</h4>
        {% endif %}
            <h4>Races:</h4>
            {% if split.races.all()|length >0 %}
            <ul>
                {% for race in split.races.all() %}
                <li><a href="{{ url_for('race_page', rid=race.id) }}">Race: {{ loop.index }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>None</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}