{% extends "base.html"%}
{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ user.username }}</h1>
        <hr>
        {% if userspage %}
        <p class="text-muted">This is your page</p>
        {% endif %}
        <h3>Email: {{ user.email }}</h3>
        <h3>Splits:</h3>
        {% if user.splits.all()|length >0 %}
            {% for splits in user.splits.all() %}
                <p><a>{{ splits.title }}</a></p>
            {% endfor %}
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
</div>
{% endblock %}