{% extends "base.html"%}
{% block content %}
<!--Start Rest'O'Page-->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>{{ title }} <small>Webclient</small></h1>

        <hr>
        <div class="row container">
            <div class="col-md-3">
                <p class="text-muted">Timer:</p>
                <div id="timer"></div>
            </div>
            <div class="col-md-3">
                <p class="text-muted">
                    Last Split:
                </p>
                <div id="lasty"></div>
            </div>
            <div class="col-md-3">
                <p class="text-muted">
                    Next Split:
                </p>
                <div id="nexty"></div>
            </div>
            <div class="col-md-3">
                <p class="text-muted">Actions:</p>
                <button class="btn btn-primary" id="start-button" style="display: none;">Start</button>
                <button class="btn btn-success" id="split-button" style="display: none;">SPLIT!</button>
            </div>
        </div>

        <br><hr><br>




        <div class="container">
            <div id="progress-bars"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Connection Status</div>
                    <div class="panel-body">
                        <h4 class="text-info" id="connection-status">Connecting...</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Updates</div>
                    <div class="panel-body">
                        <h4 id="updates"></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Connected Users</div>
                    <table class="table" id="users">
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/webclient.css')}}"/>
<script src="{{url_for('static', filename='js/tinycolor.js')}}"></script>
<script src="{{url_for('static', filename='js/timer.js')}}"></script>
<script>
    var uid = {{ g.user.id }};
    var rid = {{ race.id }};
</script>
<script src="{{url_for('static',filename='js/socket.io.min.js')}}"></script>
<script src="{{url_for('static',filename='js/webclient.js')}}"></script>
<!--End Rest'O'Page-->
{% endblock %}