{% extends "base.html"%}
{% block content %}
<!--Start Rest'O'Page-->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Webclient</h1>
    <h3 class="text-info" id="connection-status">Connecting...</h3>
  </div>
</div>

<script>
    var rid = {{ rid }};
    var uid = {{ g.user.id }};
    var username = {{ g.user.username }}
</script>
<script src="{{url_for('static',filename='js/socket.io.min.js')}}"></script>
<script src="{{url_for('static',filename='js/webclient.js')}}"></script>
<!--End Rest'O'Page-->
{% endblock %}